
.contact-card{
  background-image: url("../../Images/bg1.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid gray;
  padding: 2vw;
  border-radius: 30px;
  box-shadow: 2vw 2vw 4vw rgb(24, 24, 24);
}
/* Contact */
.form-control{
    border-radius: 12px;
    padding: 0.5vw 1vw 0.5vw 1vw;
    margin-bottom: 1vw;
    background-color: rgba(255, 255, 255, 0.877);
  }
  
  .c-card{
    background-color: transparent;
  }
  .submit-btn{
    border-radius: 12px;
  }
  .img-mail{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  }
  

  @media (max-width: 600px) {
    .img-mail{
      display: none;
    }
    .contact-card{
      border-radius: 30px;
      padding: 0px;
      padding-top: 5vh;
    }
    .form-control{
      border-radius: 10px;
      padding: 0.5vw 1vw 0.5vw 1vw;
      margin-bottom: 3vw;
      background-color: rgba(255, 255, 255, 0.877);
      
    }
    .form-control::placeholder{
      font-size: 4vw;
    }
  }