# Client

# dependencies
/Client/node_modules
/Client/.pnp
/Client/.pnp.js
Client/package-lock.json

# testing
/Client/coverage

# production
/Client/build

# misc
/Client/.DS_Store
/Client/.env.local
/Client/.env.development.local
/Client/.env.test.local
/Client/.env.production.local

Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*

# Server

# dependencies
/Server/node_modules
/Server/.pnp
/Server/.pnp.js

# testing
/Server/coverage

# production
/Server/build

# misc
/Server/.DS_Store
/Server/.env.local
/Server/.env.development.local
/Server/.env.test.local
/Server/.env.production.local

Server/npm-debug.log*
Server/yarn-debug.log*
Server/yarn-error.log*






# SERVER
Server/.env
Server/package-lock.json
Server/node_modules/*