
/* #######################
ANIMATION CSS
########################## */
@keyframes slideInFromDown {
    0% {
      opacity: 0.2;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .page1 h1,
  .page1 h6,
  .page2 h1,
  .page2 h6,
  .page3 h1,
  .page3 h6,
  .page0 h1,
  .page0 h4 {
    animation: slideInFromDown 1s ease-out;
  }
  
  /* Scroll animation mouse */
  
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(100px);
    }
  }
  
  svg #wheel {
    animation: scroll ease 1.5s infinite;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #353535;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(172, 255, 47, 0.849);
  
    border-radius: 20px;
  }
  